<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }
        th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
{{#if this}}
<table>
    <tr>
        <td>{{name}}</td>
        <td><a href="http://localhost:3000/soccerapp/players/{{teamId}}">Players</a></td>
        <td>{{code}}</td>
        <td>{{playedGames}}</td>
        <td>{{squadMarketValue}}</td>
        <td><a href="{{crestUrl}}">Crest</a></td>
    </tr>
</table>
{{else}}
<h3>No users found!</h3>
{{/if}}
</body>
</html>